@import "tailwindcss";

@theme {
  --animate-shake: shake 0.5s;
  --animate-lock: chain-lock 0.4s ease-out forwards;
  --animate-flash: flash-red 0.5s ease-out;
  --animate-clearing: shrink-out 0.8s forwards;
  --animate-float-score: float-up 1s ease-out forwards;

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  @keyframes chain-lock {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      transform: scale(1.2);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes flash-red {
    0% {
      background-color: rgba(239, 68, 68, 0);
    }

    50% {
      background-color: rgba(239, 68, 68, 0.3);
    }

    100% {
      background-color: rgba(239, 68, 68, 0);
    }
  }

  @keyframes shrink-out {
    0% {
      transform: scale(1);
      opacity: 1;
      filter: brightness(2);
      background-color: white;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes float-up {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }

    50% {
      transform: translate(-50%, -150%) scale(1.5);
      opacity: 1;
    }

    100% {
      transform: translate(-50%, -300%) scale(1);
      opacity: 0;
    }
  }
}

/* Base styles */
body {
  margin: 0;
  overflow: hidden;
  /* Prevent scrolling on game */
}